body{
    background-image: linear-gradient(#008c72dc, #007369e1 );
}
header{
    background-image: linear-gradient(#02A676, #008C72);
    height: 120px;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.HeadTitulo,.HeadSubtitulo{
    margin-top:10px ;
}
nav{
    background-color:#008C72;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    position: sticky;
    top: 0;
}
nav > .Navlinks > a{
    padding: 7px;
    text-decoration: none;
    color: white;
}
.Navlinks{
    font-size: 1.4em;
}
nav > .Navlinks > a:hover{
    background-color: #02A676;
    padding: 10px;
    transition: 0.3s;
}